<%= simple_form_for(resource) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.select :type, %w(Call Text) %>
    <%= f.select :phone_id, current_user.phones.map{ |phone| [phone.to_s, phone.id] } %>
    <%= f.input :send_at, as: :string, input_html: { class: "datetime", value: resource.send_at } %>
    <%= f.input :repititions, label: "Number of Times (Optional)" %>
    <%= f.input :interval, label: "Interval in Minutes (Optional)" %>
    <%= f.input :text, label: "Text (Optional)" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
